<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base_manager.css') }}">
</head>
<body>
    <header>
        <h1>Добро пожаловать в CRM</h1>
    </header>

    <div class="container">
        <aside>
            <h2>Меню</h2>
            <ul>
                <li><a href="{{ url_for('manage_courses') }}">Управление курсами</a></li>
                <li><a href="{{ url_for('manage_groups') }}">Управление группами</a></li>
                <li><a href="{{ url_for('manage_schedaule') }}">Управление расписанием</a></li>
            </ul>
        </aside>

        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>

    <footer>
        <p>&copy; CRM</p>
    </footer>
</body>
</html>
