<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base_administrator.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/administrator_dasboard.css') }}">
    <title>{% block title %}CRM{% endblock %}</title>
</head>
<body>
    <header>
        <h1>VIVACRM</h1>
    </header>

    <div class="container">
        <aside>
            <ul>
                <li><a href="{{ url_for('administrator_dashboard', id=administrator.id) }}">Профиль</a></li>
                <li><a href="{{ url_for('manage_courses') }}">Управление курсами</a></li>
                <li><a href="{{ url_for('manage_groups') }}">Управление группами</a></li>
                <li><a href="{{ url_for('manage_students') }}">Управление студентами</a></li>
                <li><a href="{{ url_for('manage_teachers') }}">Управление преподавателями</a></li>
                <li><a href="{{ url_for('manage_schedaule') }}">Управление расписанием</a></li>
            </ul>
        </aside>

        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>

    <footer>
        <p>&copy; CRM 2024</p>
    </footer>
</body>
</html>
